@import url(reset.css);

body {
    background-color: rgb(215, 215, 215);
}

nav {
    background-color: black;
    height: 5rem;
    display: flex;
    align-items: center;
    align-content: center;
    padding: 0 4rem;
}

nav a {
    color: white;
    text-decoration: none;
}

.navbar {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.title {
    font-size: 3rem;
    margin: 2rem 0rem 2rem 0rem;
    text-align: center;
}

.text {
    font-size: 1.3rem;
    margin: 0rem 0rem 3rem 0rem;
}

.container {
    max-width: 1200px;
    margin: 0rem 4rem;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 1rem;
}

.content section {
    padding-top: 1rem;
    border-radius: 1rem;
}

.conheca-a-equipe {
    background-color: #131258;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.equipe {
    width: 100%;
}

.equipe h1, .equipe p {
    color: white;
}

.full-size-box {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0rem 0rem 0rem;
}

.section-cards {
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    background-color: white;
    width: 320px;
    height: 450px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem 1rem;
    text-align: center;
    box-shadow: 0px 10px 33px 18px rgba(0,0,0,0.3);
}

.card h3 {
    font-size: 1.6rem;
    margin: 1rem 0;
}

.card p {
    font-size: 1.2rem;
    margin: 1rem 0;
}

.img {
    width: 200px;
    margin: 1rem;
}

.card img {
    border-radius: 50%;
    width: 100%;
}

.card-text {
    margin: 1rem;
}

.icon {
    
}

footer {
  background-color: black;
  width: 100%;
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer p {
    color: white;
}